@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.menu {
    box-shadow: none;
    z-index: 2;
    height: 54px;
    width: calc(100% - 100px);
    position: fixed;
    top: 0;
    padding: 0 50px;
    margin: 50px 50px;
    display: block;
    transition: 0.2s;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 5px 10px 70px grey;
    color: black;
}

.webTitle {
    float: left;
    height: 54px;
}

.webTitle h1 {
    font-family: "Rubik";
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    margin: 0;
    color: black;
    line-height: 54px;
}

.optionBox {
    float: right;
    color: black;
    height: 54px;
    z-index: 20;
}

.mobileMenuButton {
    float: right;
    height: 54px;
    width: 54px;
    display: none;
    place-content: center;
}

.mobileMenuButton svg {
    margin: 10px;
    height: 35px;
}

.mobileMenuBackButton {
    height: 40px;
    width: 100%;
    margin: 10px 0 10px 0;
    display: none;
    place-items: center;
}

.mobileMenuMask {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transform: translateX(150%);
    background-color: black;
    animation: opacity .5s;
    transition: opacity .5s;
}

.mobileMenuBackButton svg {
    height: 40px;
    width: 100%;
    stroke: black;
    margin: 0 calc(50% - 20px);
}

.options {
}

.option {
    display: inline-block;
    margin: 5px 20px;
    position: relative;
    font-family: "Rubik";
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    font-size: 15px;
    line-height: 44px;
}

.option.active::after {
    width: 100%;
}

.option::after {
    height: 2px;
    position: absolute;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: #b621ff /*#ff3f81*/;
    content: "";
    transition: 0.5s;
}

.option:hover::after {
    width: 100%;
}

@media only screen and (max-width: 1100px) {
    .menu {
        width: 100%;
        padding: 0 5%;
        margin: 0;
    }

    .web-title {
        float: left;
        height: 54px;
    }

    .web-title h1 {
        line-height: 54px;
    }

    .mobileMenuButton {
        display: grid;
    }

    .optionBox {
        z-index: 100000;
        position: fixed;
        background-color: white;
        right: 0;
        top: 0;
        border-left: 1px solid lightgray;
        box-sizing: border-box;
        transform: translateX(100%);
        transition: transform .5s;
        color: white;
        height: 100vh;
    }

    .mobileMenuBackButton {
        display: grid;
    }

    .option {
        display: block;
        margin: 5px 20px;
        color: black;
        font-size: 15px;
        line-height: 44px;
    }


    .option:hover::after {
        width: 100%;
    }
}