@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;600;700&display=swap');

.top {
    display: grid;
    place-items: center;
    height: 100vh;
    padding: 0 10%;
}

.top h1 {
    font-family: Rubik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: bold;
    font-size: 60px;
    position: relative;
}

.purple {
    color: purple;
}

.button {
    display: inline-flex;
    background-color: white;
    margin: 0 20px 0 0;
    position: relative;
    padding: 0 20px;
    border: 1px solid purple;
    border-radius: .375rem;
    font-family: Rubik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    z-index: 1;
    transition: all .5s;
}

.button:after {
    position: absolute;
    border-radius: .375rem;
    content: "";
    z-index: -1;
    left: 0;
    top: 0;
    height: calc(100% + 1px);
    width: 0;
    background-color: purple;
    transition: all .5s;
}

.button:hover {
    color: white;
}

.button:hover:after {
    width: calc(100% + 1px);
}

.button svg {
    padding: 8px 0 8px 20px;
    height: 46px;
    width: 50px;
}

.buttons {
    display: grid;
    place-items: center;
}