@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;600;700&display=swap');

.top {
    display: grid;
    place-items: center;
    height: 100vh;
    margin-right: 5%;
    margin-left: 5%;
}

.top h1 {
    font-family: Rubik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
}


.top p {
    font-family: Rubik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
}

.purple {
    color: purple;
}