@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;600;700&display=swap');

.page {
    padding: 100px 10% 0 10%;
}

.header {
}

.header h1 {
    font-family: Rubik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-align: center;
    font-size: 60px;
    margin-bottom: 0;
}

h2.subTitle {
    margin-top: 70px;
    font-family: Rubik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-align: center;
}

.header p {
    font-family: Rubik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-align: center;
    font-weight: 300;
    margin-top: 5px;
}

.purple {
    color: purple;
}

.section {
    position: relative;
}
.selectBox {
    position: relative;
    height: 20px;
}
.select {
    position: absolute;
    top: 0;
    width: 200px;
    right: calc(50% - 100px);
    font-family: Rubik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 20px;
    background: transparent;
    border: none;
}

.chart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 300px;
}

.piechart {
    display: grid;
    place-items: center;
    width: 300px;
    flex-grow: 0;
    margin: 20px 30px 0 30px;
}

.piechart text {
    font-family: Rubik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.legendBox {
    margin: 20px 30px 0 30px;
    background: white;
    box-shadow: 5px 10px 20px grey;
    border: 2px solid grey;
    border-radius: .375rem;
    width: 300px;
}

.legendFlex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.legendBox p {
    margin-left: 15px;
    font-family: Rubik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.legend {
    margin: 5px;
    flex-grow: 0;
}
.legend svg {
    height: 15px;
}